body {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
}

.person > div {
  background-color: #fff59d;
  background-repeat: repeat-x;
  background-position: center bottom;
  text-align: center;
  border-radius: 16px;
}

.person > h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

footer img {
  width: 100px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;
}

.voices {
  background-color: #fff59d;
  padding: 64px 0;
}

.voices > h1 {
  text-align: center;
  /* padding-bottom: 64px; */
  padding-bottom: 0;
  font-size: 40px;
}

.voices section {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.voices footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.voices section + section {
  margin-top: 16px;
}

.voices .container {
  display: flex;
  gap: 16px;
}

.voices section + section {
  margin-top: 0;
}

.voices section {
  width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment {
  margin: 0;
}

section > li {
  font-weight: bold;
}

#open,
#close,
.btn {
  padding: 8px 30px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
  text-align: center;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

li {
  list-style: none;
}

h1 {
  padding-bottom: 0;
  text-align: center;
}

/*ボタンのでかさとか色*/
.message {
  padding: 8px 30px;
  background-color: #d89430;
  cursor: pointer;
  box-shadow: 0 7px #976823;
}

/*ボタンの動き*/
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.atg {
  text-decoration: none;
}

/*上の黒のやつ*/
header {
  height: 65px;
  width: 100%;
  background-color: #ff9e3d;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  height: 100%;
  position: relative;
}

/*バチャ鳥のロゴ*/
.logo {
  width: 124px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*カテゴリとかのやつマイナス増やしたら消える*/
.header-right {
  float: right;
  margin-right: -5px;
}

/*上タブの白の位置*/
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

/*上タブの色*/
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*上の調整*/
.container1 {
  width: 100%;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  position: relative;
}