* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #ff9e3d;
  display: flex;
  top: 0;
  z-index: 10;
  position: fixed;
}

.header-left {
  float: left;
  height: 100%;
  position: relative;
}

.header-right {
  float: right;
  margin-right: -5px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo {
  width: 124px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

footer img {
  width: 100px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

/* -------------------- 追加部分 -------------------- */

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* デフォルトではメニューアイコンは非表示に */
  display: none;
}

.main {
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 65px;
  border-bottom: 2px solid #F0F3F5;
}

.content-full {
  width: 80%;
}

.flex {
  display: flex;
}

.title-tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.title-tag2 {
  align-items: center;
  justify-content: right;
}

.heading-line {
  font-weight: 700;
  line-height: 1.5;
  font-size: 24px;
}

.img-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.li-img-icon {
  height: 24px;
  width: 30px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.info-line {
  font-weight: 700;
  font-size: 20PX;
  border-bottom: 2px solid #F0F3F5;
}

button {
  width: 120px;
  height: 40px;
  border: 2px solid #ee827c;
  background: #ee827c;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  transition: all 0.2s;
}

button:hover {
  background-color: #fff;
  border: 2px solid #ee827c;
  color: #ee827c;
}

.zoom {
  width: 200px;
  height: 40px;
  border: 2px solid #2d8cff;
  background: #2d8cff;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  transition: all 0.2s;
}

.zoom:hover {
  background-color: #fff;
  border: 2px solid #2d8cff;
  color: #2d8cff;
}

/*
.line-solid {
    border-bottom: 2px solid #F0F3F5;
}
*/

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.fw700 {
  font-weight: 700;
}

.font {
  font-weight: 500;
  line-height: 1.5;
  font-size: 20px;
  color: #ee827c;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  text-align: left;
  width: 50%;
}