.person > div {
    background-color: #fff59d;
    background-repeat: repeat-x;
    background-position: center bottom;
    text-align: center;
    border-radius: 16px;
}

.person > h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 20px;
}

#open, #close, .btn {
    cursor: pointer;
    background-color: #b1b1b1;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
    text-align: center;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

#modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -500px);
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

/*カテゴリとかのやつが下に下がる*/
.fa {
    margin-right: 5px;
  }
  
  /*上の黒のやつ*/
  header {
    height: 65px;
    width: 101%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  /*バチャ鳥のロゴ*/
  .logo {
    width: 124px;
    margin-top: 5px;
  }
  
  
  .header-left {
    float: left;
  }
  
  /*カテゴリとかのやつマイナス増やしたら消える*/
  .header-right {
    float: right;
    margin-right: 50px;
  }
  
  /*上タブの白の位置*/
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  /*上タブの色*/
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  
  .heading h2 {
    font-weight: normal;
  }
  
  
  .heading h3 {
    font-weight: normal;
  }  

  a {
    text-decoration: none;
  }

  .inside {
    max-width: var(--contentWidth);
    margin: 0 auto;
  }